@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Ubuntu&family=VT323&display=swap');

//var

$f-title: 'VT323', monospace;
$f-text: 'Ubuntu', sans-serif;
$f-tasktitle: 'Noto Sans JP', sans-serif;

// functions

@function getRem($size) {
    @return #{$size / 16px}rem
};